@import '../../styles/utils/utils.scss';

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    position: relative;
    min-height: 140px;
    overflow: hidden;

    @include media-lg {
        justify-content: flex-start;
    }
}

